@import 'tailwindcss';
@tailwind utilities;

@plugin "daisyui" {
    themes: sanctum --default, light, dark --prefersdark, emerald;
}

@plugin "daisyui/theme" {
    name: "sanctum";
    default: true;
    prefersdark: false;
    color-scheme: "light";
    --color-base-100: oklch(98% 0 0);
    --color-base-200: oklch(96% 0.001 286.375);
    --color-base-300: oklch(92% 0.004 286.32);
    --color-base-content: oklch(21% 0.006 285.885);
    --color-primary: oklch(77% 0.152 181.912);
    --color-primary-content: oklch(27% 0.046 192.524);
    --color-secondary: oklch(70% 0.191 22.216);
    --color-secondary-content: oklch(25% 0.092 26.042);
    --color-accent: oklch(0% 0 0);
    --color-accent-content: oklch(100% 0 0);
    --color-neutral: oklch(27% 0.006 286.033);
    --color-neutral-content: oklch(98% 0 0);
    --color-info: oklch(70% 0.165 254.624);
    --color-info-content: oklch(28% 0.091 267.935);
    --color-success: oklch(84% 0.238 128.85);
    --color-success-content: oklch(27% 0.072 132.109);
    --color-warning: oklch(85% 0.199 91.936);
    --color-warning-content: oklch(28% 0.066 53.813);
    --color-error: oklch(71% 0.202 349.761);
    --color-error-content: oklch(28% 0.109 3.907);
    --radius-selector: 1rem;
    --radius-field: 0.5rem;
    --radius-box: 1rem;
    --size-selector: 0.25rem;
    --size-field: 0.25rem;
    --border: 1.5px;
    --depth: 1;
    --noise: 1;
}

@layer utilities {
    .menu :where(li > *:not(ul):not(.menu-title)).active-item,
    .menu :where(li > *:not(ul):not(.menu-title))[aria-current="page"] {
        @apply text-primary-content font-semibold bg-primary/20;
    }

}


