@import 'tailwindcss';

@tailwind utilities;

@plugin "daisyui" {
    themes:  dark --prefersdark;
}

@plugin "daisyui/theme" {
    name: "sanctum";
    default: true;
    prefersdark: false;
    color-scheme: "light";
    --color-base-100: oklch(98% 0.003 247.858);
    --color-base-200: oklch(97% 0 0);
    --color-base-300: oklch(92% 0 0);
    --color-base-content: oklch(12% 0.042 264.695);
    --color-primary: oklch(79% 0.209 151.711);
    --color-primary-content: oklch(37% 0.077 168.94);
    --color-secondary: oklch(70% 0.165 254.624);
    --color-secondary-content: oklch(28% 0.091 267.935);
    --color-accent: oklch(92% 0.084 155.995);
    --color-accent-content: oklch(44% 0.119 151.328);
    --color-neutral: oklch(92% 0.006 264.531);
    --color-neutral-content: oklch(20% 0 0);
    --color-info: oklch(74% 0.16 232.661);
    --color-info-content: oklch(29% 0.066 243.157);
    --color-success: oklch(72% 0.219 149.579);
    --color-success-content: oklch(26% 0.051 172.552);
    --color-warning: oklch(76% 0.188 70.08);
    --color-warning-content: oklch(12% 0.042 264.695);
    --color-error: oklch(63% 0.237 25.331);
    --color-error-content: oklch(25% 0.092 26.042);
    --radius-selector: 0.5rem;
    --radius-field: 0.5rem;
    --radius-box: 1rem;
    --size-selector: 0.21875rem;
    --size-field: 0.28125rem;
    --border: 1.5px;
    --depth: 1;
    --noise: 1;
}

@layer utilities {
    .menu :where(li > *:not(ul):not(.menu-title)).active-item,
    .menu :where(li > *:not(ul):not(.menu-title))[aria-current="page"] {
        @apply text-primary-content font-semibold bg-primary/20;
    }

}


